<%= form_for [@book, comment] do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: comment} %>

    <div class="form-group">
      <%= f.label :body %>
      <span style="float: right;">
        Осталось <span id="count2"><%= Comment::BODY_MAXIMUM_LENGTH %> </span> символов для ввода
      </span>
      <%= f.text_area :body, class: 'form-control', maxlength: Comment::BODY_MAXIMUM_LENGTH, id: 'contentbox2' %>
    </div>

    <div class="actions">
      <%= f.submit 'Отправить', class: 'btn btn-primary' %>
    </div>

<% end %>